<div class="profile pt-6 is-flex-direction-column">
    <div class="is-justify-content-center">
        <h1 class="title is-3">Hi, {{first_name}} {{last_name}}!</h1>
        <h2 class="subtitle is-4">In this page, you are able to view your upcoming appointments and make as many changes
            as you'd like!</h2>
    </div>
    <br>
    <br>
    {{!-- Container with list of appointments. Most recently added are at the top --}}
    <div>
        {{!-- {{#if appointment}} --}}
        <div class="container p-4" id="appointments">
            {{!-- {{#each appointments as |appointment|}} --}}
            <div class="container is-flex is-flex-direction-row is-justify-content-space-between is-align-items-center" id="appt-container">
                {{!-- container left has date, time, reason for visit --}}
                <section id="appt-info">
                    <p class="title is-4 m-0">Visit with Dr. {{doctor.last_name}}</p>
                    <p class="subtitle is-5 m-0">Date: {{format_date appointment.visit_time}}</p>
                    <p class="subtitle is-5 m-0">Time: {{format_time appointment.visit_time}}</p>
                    <br>
                    <p class="subtitle is-5 m-0">Reason for visit: {{appointment.visit_reason}}</p>
                    <p class="subtitle is-5 m-0">Room Number: {{appointment.room_number}}</p>
                </section>
                {{!-- container right has edit and cancel buttons --}}
                <section class="is-flex-direction-row" id="appt-btns">
                    <div>
                        <button class="button is-dark">Edit</button>
                        <button class="button is-dark">Cancel</button>

                    </div>
                </section>
            </div>
            {{!-- {{/each}}

            {{else}}
            <h3>You have not scheduled an appointment yet.</h3>
            {{/if}} --}}
        </div>
</div>

</div>